* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Taviraj */

/*
Font weights:

Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
*/




/* navigationsmenu */

nav {
    color: #E8E8E8;
}   

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav li {
    padding: 20px;
    font-family: 'Taviraj', serif;
    font-size: 25px;
    font-weight: 400;
    
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #F39A33;
}


.nav-undersider {
    background-color: #090606;
}


@media only screen and (max-width: 1100px) {
    .nav-undersider {
        display: flex;
        justify-content: center;
        
    }
    nav ul {
        margin: 0;
    }
}


/* hero */

.hero {
    background-image: url(../images/forside-hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}


.hero-text {
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
}


.hero-taviraj {
    font-family: 'Taviraj', serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

.hero-italic {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: #F39A33;
}

.hero-bold {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    color: #367D8B;
}



/* indhold */


.forside-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr 1fr;
    height: 100%;
}


.forside-paragraf {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;

    
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin: 0 50px 50px 50px;
}



.udvalg-overskrift {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;

    padding: 25px;
    background-color: #4b4e52;
}

h2 {
    text-align: center;
    font-family: 'Taviraj', serif;
    font-size: 40px;
    font-weight: 600;
    font-style: bold;
    color: #F39A33;
}
    



.se-alle {
    text-align: center;
    padding: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    color: #E8E8E8;
    background-color: #4b4e52;
    margin-bottom: 100px;

    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;

}


img {
    max-width: 100%;
    max-height: 50vh;
}

video {
    max-width: 100%;
    max-height: 50vh;
}

.showcase1, .showcase2, .showcase3 {
    background-color: #c5c4c4;
    padding: 30px;
}


.showcase1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.showcase2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

.showcase3 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
}


.showcase-text {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #090606;
}


.forside-kontakt {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
}


/* om mig */

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 5fr 1fr 4fr 1fr;
    height: 100%;
}

.overskrift {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-family: 'Taviraj', serif;
    font-size: 40px;
    font-weight: 600;
    font-style: bold;
    color: #367D8B;
    padding: 30px; 
    margin-bottom: 50px;
    background-color: #E8E8E8;
}



.kontakt-info {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 6;
}

.kontakt-info, .kontakt-info-2, .forside-kontakt {
    background-color: #E8E8E8;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    padding: 50px;
}

.mail, .tlf, .tlf2, .mail2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.indhold {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;

    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin: 0 50px 50px 50px;
}

.adobe-programmer {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    
    padding: 10px;
    margin: 0 50px 50px 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}


.profil-billede {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #070404;
    display: flex;
    justify-content: center;
    padding: 10px;
}



/* projekter */


.container-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.container-2 img {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}


.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    background-color: #E8E8E8;
    padding: 10px;
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.65);
}



.kontakt-info-2 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;

    margin: 50px 0 0 0;
}


@media only screen and (max-width: 1100px) {

    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 5fr 1fr 4fr 1fr;
        height: 100%;
    }

    .indhold {
        grid-column-start: 2;
        grid-column-end: 8;
        margin: 0 20px 0 20px;
    }

    .adobe-programmer {
        grid-column-start: 2;
        grid-column-end: 8;
        margin: 20px 20px 30px 20px;
    }


    .container-2 {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        height: 100%;
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .item4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .kontakt-info-2 {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 5;
        grid-row-end: 6;

        margin: 20px 0 0 0;
        padding: 20px;
    }

    .kontakt-info {
        padding: 20px;
    }

    .kontakt-info, .kontakt-info-2, .forside-kontakt {
        font-size: 25px;
    }

    .mail, .tlf, .tlf2, .mail2 {
        font-size: 17.5px;
    }

    .overskrift {
        margin-bottom: 30px;
        font-size: 35px;
        padding: 25px;
    }

    h2 {
        font-size: 35px;
    }

    .forside-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr 3fr 1fr 3fr 1fr 1fr;
        height: 100%;
    }


    .udvalg-overskrift {
        grid-column-start: 1;
        grid-column-end: -1;
        padding: 20px;
    }

    .se-alle {
        grid-column-start: 1;
        grid-column-end: -1;
    }


    .forside-paragraf {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;

        padding: 10px;
        margin: 0 50px 50px 50px;
    }


    .showcase1 {
        grid-column-start: 1;
        grid-column-end: 4;
    
    
    }
    
    .showcase2 {
        grid-column-start: 4;
        grid-column-end: 7;
        
    }
    
    .showcase3 {
        grid-column-start: 7;
        grid-column-end: 10;
        
    }

    .hero-taviraj {
        font-size: 35px;
    }

    .hero-italic, .hero-bold {
        font-size: 27.5px;
    }

    .hero {
        background-image: url(../images/forside-hero-image-small.jpg);
    }
}




@media only screen and (max-width: 600px) {
    .container-2 {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
        height: 100%;
    }

    .item1, .item2, .item3, .item4, .item5, .item6 {
        margin: 20px;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .item4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .kontakt-info-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;

        margin: 0;
        padding: 20px;
    }

    .kontakt-info {
        padding: 20px;
    }

    .indhold {
        margin: 0;
    }

    .overskrift {
        margin-bottom: 20px;
        padding: 20px;
    }


    .adobe-programmer {
        margin: 20px 0;
    }


    .forside-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr 1fr 3fr 3fr 3fr 1fr 1fr;
        height: 100%;
    }



    .forside-paragraf {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        padding: 10px;
        margin: 0 50px 20px 50px;
    }

    .udvalg-overskrift {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 15px;
    }

    .showcase1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    
    
    }
    
    .showcase2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        
    }
    
    .showcase3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        
    }

    .se-alle {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 7;
        grid-row-end: 8;

        margin-bottom: 0;
    }

    .forside-kontakt {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .hero-taviraj {
        font-size: 30px;
    }

    .hero-italic, .hero-bold {
        font-size: 25px;
    }

    .kontakt-info, .kontakt-info-2, .forside-kontakt {
        font-size: 20px;
    }

    .mail, .tlf, .tlf2, .mail2 {
        font-size: 15px;
    }

    .hero {
        background-image: url(../images/forside-hero-image-smaller.jpg);
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}