/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Taviraj */

/*
Font weights:

Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    min-height: 100%
}



/* navigationsmenu */

nav {
    color: #E8E8E8;
}   

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav li {
    padding: 20px;
    font-family: 'Taviraj', serif;
    font-size: 25px;
    font-weight: 400;
    
}


a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #F39A33;
}


.nav-undersider {
    background-color: #090606;
}


@media only screen and (max-width: 1100px) {
    .nav-undersider {
        display: flex;
        justify-content: center;
        
    }
    nav ul {
        margin: 0;
    }
}


/* hero */

.hero {
    background-image: url(../images/forside-hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}


.hero-text {
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
    
}


.hero-taviraj {
    font-family: 'Taviraj', serif;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

.hero-italic {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: #F39A33;
}

.hero-bold {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    color: #367D8B;
}



/* indhold */


.forside-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
    height: 100%;
    gap: 40px;
}


.knap-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.se-alle {
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    border: solid #367D8B;
    border-radius: 40px;
    font-style: bold;
    margin-top: 50px;
    margin-bottom: 80px;
    color: #E8E8E8;
    background-color: #367D8B;
}

.se-alle:hover {
    background-color: #090606;
    border: solid #090606;
    color: #F39A33;
}

img {
    max-width: 100%;
    max-height: 50vh;
}

video {
    max-width: 100%;
    max-height: 50vh;
}

.showcase1, .showcase2, .showcase3 {
    background-color: #E8E8E8;
    padding: 30px;
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.65), inset 2px 2px 3px 2px rgba(0,0,0,0.65);
    border: solid 10px #070404;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.showcase1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.showcase2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

.showcase3 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}


.showcase-text {
    margin-top: 10px;
    padding: 10px;

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;

    color: transparent; 
    background-color: #474747;
    text-shadow: 3px 3px 5px rgba(255,255,255,0.95);
    background-clip: text;
}


.kontakt-info, .kontakt-info-2, .forside-kontakt {
    background-color: #282828;
    color: #E8E8E8;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    padding: 50px;
    text-align: center;
}

.copyright {
    background-color: #090606;
    color: #E8E8E8;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    padding: 20px;
}

.mail, .tlf, .tlf2, .mail2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}



/* om mig */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
    grid-template-rows: auto;
    height: 100%;
}

.overskrift {
    text-align: center;
    font-family: 'Taviraj', serif;
    font-size: 40px;
    font-weight: 600;
    font-style: bold;
    color: #367D8B;
    padding: 30px; 
    margin-bottom: 50px;
    background-color: #E8E8E8;
}

.photoshoot {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: end;
    
}

.photoshoot img {
    border: solid 5px #070404;
    padding: 30px;
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.65);
}


.indhold {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
    margin-right: 0px;
    margin: auto 0px auto 0;
}


h2 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #367D8B;
}

.headline {
    margin: 30px 200px 50px 200px;
    padding: 50px;
}

.adobe-programmer img {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.adobe-programmer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.erfaring {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 20px 50px 20px 50px;
}

.adobe-kasse {
    background-color: #E8E8E8;
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    margin-top: 50px;
    border-radius: 25px;
}


.profil-billede {
    background-color: #070404;
    display: flex;
    justify-content: center;
}

.profil-billede img {
    max-height: 50vh;
}



/* projekter */


.container-2 {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: auto auto auto;
    height: 100%;
    gap: 40px;
    align-items: center;
    margin-bottom: 75px;
}


.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {    
    background-color: #E8E8E8;
    padding: 30px;
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.65), inset 2px 2px 3px 2px rgba(0,0,0,0.65);
    border: solid 10px #070404;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.projekt-text {
    margin-top: 10px;
    max-width: fit-content;
    padding: 10px;

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    
    color: transparent; 
    background-color: #474747;
    text-shadow: 3px 3px 5px rgba(255,255,255,0.95);
    background-clip: text;
    
}


@media only screen and (max-width: 1100px) {

    .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .indhold {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 18px;
        padding: 20px;
        margin-right: 10px;
    }

    .photoshoot {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 20px;
        margin-left: 10px;
    }


    .headline {
        margin: 20px 150px 50px 150px;
        padding: 40px;
    }

    h2 {
        font-size: 28px;
    }


    .container-2 {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        height: 100%;
    }

    .item1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .item2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .item4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item9 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }


    .kontakt-info, .forside-kontakt, .kontakt-info-2 {
        padding: 30px;
        font-size: 25px;
    }


    .mail, .tlf, .tlf2, .mail2 {
        font-size: 17.5px;
    }

    .overskrift {
        margin-bottom: 30px;
        font-size: 35px;
        padding: 25px;
    }

    .forside-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        height: 100%;
    }


    .se-alle {
        font-size: 25px;
        padding: 10px;
    }

    .showcase1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .showcase2 {
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    .showcase3 {
        grid-column-start: 7;
        grid-column-end: 10;
    }

    .hero-taviraj {
        font-size: 32px;
    }

    .hero-italic, .hero-bold {
        font-size: 26px;
    }

    .hero {
        background-image: url(../images/forside-hero-image-small.jpg);
    }
}


@media only screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .indhold {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 18px;
        padding: 20px;
        margin: 0 50px 0 50px;
    }

    .photoshoot {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .headline {
        margin: 30px 50px 50px 50px;
        padding: 20px;
    }
    
    h2 {
        font-size: 26px;
    }

    .erfaring {
        font-size: 23px;
        padding: 20px 30px 20px 30px;
    }


    .container-2 {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: auto auto auto auto auto;
        height: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .item4 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .item6 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item7 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .item8 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}



@media only screen and (max-width: 600px) {
    .container-2 {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        height: 100%;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .item4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .item6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
    }


    .kontakt-info, .forside-kontakt, .kontakt-info-2 {
        padding: 20px;
        font-size: 20px;
    }

    .mail, .tlf, .tlf2, .mail2 {
        font-size: 15px;
    }

    .indhold {
        margin: 0px 15px 0 15px;
    }

    .headline {
        margin: 20px 25px 50px 25px;
        padding: 20px;
    }
    

    .adobe-programmer img {
        padding: 5px;
        height: 50px;
        width: 50px;
    }
    
    .adobe-programmer {
        padding: 5px 0 0 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .erfaring {
        font-size: 20px;
        padding: 20px 30px 0px 30px;
    }
     
    .adobe-kasse {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 30px;
    }


    .overskrift {
        padding: 20px;
        font-size: 30px;
    }


    .forside-container {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: auto auto auto;
        height: 100%;
    }



    .forside-paragraf {
        margin: 0 40px 40px 40px;
    }

    .showcase1, .showcase2, .showcase3 {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 20px;
    }

    .showcase1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .showcase2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .showcase3 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .se-alle {
        margin-bottom: 70px;
        font-size: 20px;
    }

    .hero-taviraj {
        font-size: 28px;
    }

    .hero-italic, .hero-bold {
        font-size: 24px;
    }


    .hero {
        background-image: url(../images/forside-hero-image-smaller.jpg);
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 20px;
    }
}


@media only screen and (max-width: 400px) {
    .hero-taviraj {
        font-size: 24px;
    }

    .hero-italic, .hero-bold {
        font-size: 20px;
    }

    nav li {
        padding: 15px;
        font-size: 24px;
    }
}